.git
.gitignore

.env
.env.*
!.env.example

.venv
__pycache__
.pytest_cache
.ruff_cache
.mypy_cache
*.pyc
*.pyo

*.db
*.sqlite
*.sqlite3

aws
awscliv2.zip

.DS_Store
.vscode

htmlcov
.coverage

docs
samples
tests
