
# env
.env
.venv/

# python
__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# os/editor
.DS_Store
.vscode/

# local database files
*.db
*.sqlite
*.sqlite3

# local AWS CLI installer artifacts
aws/
awscliv2.zip
